{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="container mx-auto py-8 flex flex-col xl:flex-row justify-evenly">
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-white/10 backdrop-blur-2xl dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1
                class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                Edit your password
            </h1>

            <!-- flashes -->
            {% for message in app.flashes('success') %}
                <div class="alert alert-success px-4 py-3 rounded relative" role="alert">
                    <strong class="font-bold">Success !</strong>
                    <span class="block sm:inline">{{ message }}</span>
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-error px-4 py-3 rounded relative" role="alert">
                    <strong class="font-bold"><i class="fa-solid fa-xmark"></i></strong>
                    <span class="block sm:inline">{{ message }}</span>
                </div>
            {% endfor %}
            <!-- end flashes -->

        {{ form_start(form) }}

        <div class="mb-2">
            {{ form_row(form.oldPassword) }}
        </div>
        <div>
            {{ form_row(form.plainPassword) }}
        </div>

        <!-- CSRF token -->
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        
        <button type="submit" class="btn btn-primary w-full mt-4"><img src="{{ asset('build/images/tail-spin.svg') }}" alt="loading" class="w-7 h-7 mr-2 hidden">Change Password</button>
        {{ form_end(form) }}
        </div>
    </div>
</div>

<script src="{{ asset('build/js/loading.js') }}"></script>
{% endblock %}