{% extends 'base.html.twig' %}

{% block title %}Hello MapController!{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/leaflet.markercluster.js"
    integrity="sha512-OFs3W4DIZ5ZkrDhBFtsCP6JXtMEDGmhl0QPlmWYBJay40TT1n3gt2Xuw8Pf/iezgW9CdabjkNChRqozl/YADmg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/MarkerCluster.Default.min.css"
    integrity="sha512-fYyZwU1wU0QWB4Yutd/Pvhy5J1oWAwFXun1pt+Bps04WSe4Aq6tyHlT4+MHSJhD8JlLfgLuC4CbCnX5KHSjyCg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body %}
<div class="container-y">
    <!-- map h-screen but withouth navbar -->
    <div id="map" class="h-screen"></div>
    <div class="overlay">
        <div class="card w-96 bg-base-100 shadow-xl">
            <div class="card-body">
                <p>There are currently <span class="font-bold">{{ users|length }}</span> furries on Furmap !</p>
            </div>
        </div>
    </div>
</div>
<script>
    var iconConv = '{{ asset('build/images/convention-x2.png') }}';
    var dataPath = '{{ path('app_map_api') }}';
</script>
<script src="{{ asset('build/js/map.js') }}"></script>
{% endblock %}