{% extends 'base.html.twig' %}

{% block title %}Hello MapController!{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/leaflet.markercluster.js"
    integrity="sha512-OFs3W4DIZ5ZkrDhBFtsCP6JXtMEDGmhl0QPlmWYBJay40TT1n3gt2Xuw8Pf/iezgW9CdabjkNChRqozl/YADmg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/MarkerCluster.Default.min.css"
    integrity="sha512-fYyZwU1wU0QWB4Yutd/Pvhy5J1oWAwFXun1pt+Bps04WSe4Aq6tyHlT4+MHSJhD8JlLfgLuC4CbCnX5KHSjyCg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body %}
<div class="container-y">
    <!-- map h-screen but withouth navbar -->
    <div id="map" class="h-screen"></div>
    <div class="overlay">
        <div class="card w-96 bg-base-100 shadow-xl">
            <div class="card-body">
                <p>There are currently <span class="font-bold">{{ users|length }}</span> furries on Furmap !</p>
            </div>
        </div>
    </div>
</div>

<script>
    //set view to france
    const map = L.map('map').setView([46.227638, 2.213749], 6);

    let marker1;

    const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    //add an invisible marker to the map
    const marker = L.marker([0, 0], {
        opacity: 0
    }).addTo(map);

    //get users from database
    let user;
    let data_popup;
    var markers = L.markerClusterGroup();
    {% for user in users %}
    user_{{ user.id }} = { lat: '{{ user.latitude }}', lng: '{{ user.longitude }}' };

    data_popup = `
    <!-- profile picture with username/link to profile under it (don't squeeze the image) -->
    <div class="text-center">
        <img src="{{ asset('uploads/avatars/' ~ user.avatar) }}" alt="profile picture" class="rounded-sm max-w-md w-32 h-32 object-cover">
        <a href="{{ path('app_profile_show', {'slug': user.slug}) }}" class="text-xl font-bold">{{ user.username }}</a>
    </div>
    `;

    marker1 = L.marker([user_{{ user.id }}.lat, user_{{ user.id }}.lng]).bindPopup(data_popup);  

        //cluster
        markers.addLayer(marker1);

        map.addLayer(markers);
    {% endfor %}
</script>
{% endblock %}