<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.0.0/purify.min.js"
        integrity="sha512-Ijc86Y/rPOFCr+CJLd0QQlEaCC9ztVJFvPzK0DMrHCJ8biDkyQoo6Ll/OmqMEOaDJ2nCgsV89402SzXnocKzZg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
    <div class="drawer">
        <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col">
            <!-- Navbar -->
            <div class="w-full navbar bg-base-300">
                <div class="flex-none lg:hidden">
                    <label for="my-drawer-3" class="btn btn-square btn-ghost">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            class="inline-block w-6 h-6 stroke-current">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </label>
                </div>
                <div class="navbar-start px-2 mx-2">
                    <a href="{{ url('app_home') }}" class="text-lg font-bold">Furmap 2</a>
                </div>
                <div class="navbar-center hidden lg:block">
                    <ul class="menu menu-horizontal space-x-3">
                        <!-- Navbar menu content here -->
                        <li><a href="{{ url('app_map') }}"
                                {% if app.request.attributes.get('_route') == 'app_map' %}class="font-bold"
                                {% endif %}>Map</a></li>
                        <li><a href="{{ url('app_about') }}"
                                {% if app.request.attributes.get('_route') == 'app_about' %}class="font-bold"
                                {% endif %}>About</a></li>
                        <li><a href="{{ url('app_contact') }}"
                                {% if app.request.attributes.get('_route') == 'app_contact' %}class="font-bold"
                                {% endif %}>Contact Me</a></li>
                    </ul>
                </div>
                <div class="navbar-end space-x-3">
                    {% if app.user %}
                    <div class="dropdown dropdown-end">
                        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                            <div class="w-10 rounded-full">
                                {% if app.user.avatar %}
                                <img src="{{ asset('/uploads/avatars/' ~ app.user.avatar) }}" alt="avatar" />
                                {% else %}
                                <i class="fas fa-user-circle fa-2x"></i>
                                {% endif %}
                            </div>
                        </label>
                        <ul tabindex="0" style="z-index: 999;"
                            class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
                            <p class="text-center mb-2">Hey {{ app.user.username }}!</p>
                            <hr color="gray" />
                            <li><a class="justify-between mt-2" href="{{ url('app_profile') }}">My Profile</a>
                            </li>
                            <li><a class="justify-between" href="{{ url('app_profile_edit') }}">Edit profile</a>
                            <li><a class="text-red-500 decoration-dotted underline decoration-1 hover:text-red-600"
                                    href="{{ url('app_logout') }}">Log out</a></li>
                        </ul>
                    </div>
                    {% else %}
                    <a class="btn btn-ghost rounded-lg" href="{{ url('app_login') }}">Log in</a>
                    <a class="btn btn-ghost rounded-lg" href="{{ url('app_register') }}">Sign up</a>
                    {% endif %}
                </div>
            </div>
            <div class="{{ app.request.attributes.get('_route') == 'app_map' ? 'overflow-hidden' : '' }}">
                <!-- Page content here -->
                {% block body %}

                {% endblock %}
                <!-- Footer -->
                <footer class="footer footer-center p-10 bg-base-200 text-base-content rounded">
                    <div class="grid grid-flow-col gap-4">
                        <a class="link link-hover" href="{{ url('app_about') }}">About us</a>
                        <a class="link link-hover" href="{{ url('app_contact') }}">Contact</a>
                        <a class="link link-hover">Terms and conditions</a>
                        <a class="link link-hover">Privacy policy</a>
                    </div>
                    <div>
                        <div class="grid grid-flow-col gap-4">
                            <a href="https://twitter.com/LackFur"><i class="fab fa-twitter fa-2x hover:text-blue-500"></i></a>
                            <a href="https://github.com/valentin-dlack"><i class="fab fa-github fa-2x hover:text-white"></i></a>
                        </div>
                    </div>
                    <div>
                        <p>All right reserved to me i think </p>
                    </div>
                </footer>
            </div>
        </div>
        <div class="drawer-side">
            <label for="my-drawer-3" class="drawer-overlay"></label>
            <ul class="menu p-4 w-80 bg-base-100">
                <!-- Navbar menu content here -->
                <li><a href="{{ url('app_map') }}"
                        {% if app.request.attributes.get('_route') == 'app_map' %}class="font-bold" {% endif %}>Map</a>
                </li>
                <li><a href="{{ url('app_about') }}"
                        {% if app.request.attributes.get('_route') == 'app_about' %}class="font-bold"
                        {% endif %}>About</a></li>
                <li><a href="{{ url('app_contact') }}"
                        {% if app.request.attributes.get('_route') == 'app_contact' %}class="font-bold"
                        {% endif %}>Contact Me</a></li>
            </ul>

        </div>
    </div>
</body>

</html>